src/main/mule/deploycicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4c2a8f5d-bce0-47af-bd30-197ed9c396d2" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="7ccc0ee2-7c54-4562-b8ea-3874ab24f7ab" file="config.properties" />
	<flow name="deploycicdFlow" doc:id="177830f2-e259-42ac-b54f-d705209c22fb" >
		<http:listener doc:name="Listener" doc:id="e929f511-9c72-4c2b-b2a3-aa8c4ba78c55" config-ref="HTTP_Listener_config" path="/${path}"/>
		<set-payload value="#[p('http.port') ++ p(&quot;path&quot;)]" doc:name="Set Payload" doc:id="f990da63-ae74-402b-a6fd-5040faf6efb0" />
	</flow>
</mule>
